<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>МійПортал</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>

    <h1>МійПортал</h1>

    {% if user.is_authenticated %}
    <nav>
        <a href="/dashboard/">Дашборд</a>
        <a href="/profile/">Профіль</a>
        <a href="/notes/">Завдання</a>
        <a href="/logout/">Вийти</a>
    </nav>
    {% endif %}

</header>

<main>

    {% block content %}
    {% endblock %}

</main>

</body>
</html>